{
  "openapi": "3.0.1",
  "info": {
    "title": "Find Contacts API",
    "description": "An API for finding and scraping employee contact information from LinkedIn company profiles",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.revook.co/v1"
    }
  ],
  "paths": {
    "/findcontacts": {
      "post": {
        "description": "Returns employee contact data based on the provided domain and job title filters. Processing time: 2 minutes per API call.",
        "requestBody": {
          "description": "Contact finding parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FindContactsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Scraping successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmployeeData"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - No credits left",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "No employees found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "FindContactsRequest": {
        "type": "object",
        "required": [
          "domain",
          "webhook_url",
          "title_filter",
          "x_api_key"
        ],
        "properties": {
          "x_api_key": {
            "type": "string",
            "description": "Your API key",
            "example": "YOUR_API_KEY"
          },
          "domain": {
            "type": "string",
            "description": "The company domain you want to scrape",
            "example": "qonto.com"
          },
          "webhook_url": {
            "type": "string",
            "description": "Specify the webhook (POST) URL where you want to receive your data",
            "example": "https://api.revook.co/v1/webhook-receive"
          },
          "title_filter": {
            "type": "string",
            "description": "Job titles to search for, separated by commas",
            "example": "CEO, Sales, Marketing, growth"
          },
          "title_exclusion": {
            "type": "string",
            "description": "Job titles to exclude from the search, separated by commas",
            "example": "Intern, Freelance, Consultant"
          },
          "geography": {
            "type": "string",
            "description": "Geography IDs to scrape",
            "example": "105015875"
          }
        }
      },
      "EmployeeData": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "example": "6650adc647652dd98bd4c3a6"
          },
          "firstname": {
            "type": "string",
            "example": "Lily"
          },
          "lastname": {
            "type": "string",
            "example": "Tyler-Jones"
          },
          "linkedin": {
            "type": "string",
            "example": "https://www.linkedin.com/in/ACwAAEpA2GEB9Vzx3xni4GnIStgw18TQJXLwXHQ"
          },
          "localisation": {
            "type": "string",
            "example": "Norwich, England, United Kingdom"
          },
          "linkedin_id": {
            "type": "string",
            "example": "ACwAAEpA2GEB9Vzx3xni4GnIStgw18TQJXLwXHQ"
          },
          "image": {
            "type": "string",
            "example": "https://media.licdn.com/dms/image/D4D03AQGzyOXQa6Y3Xg/profile-displayphoto-shrink_800_800/0/1704731924634"
          },
          "title_original": {
            "type": "string",
            "example": "Sales Assistant"
          },
          "started_position_year": {
            "type": "integer",
            "example": 2022
          },
          "started_position_month": {
            "type": "integer",
            "example": 10
          },
          "executionId": {
            "type": "integer",
            "example": 2083579
          },
          "tenure_at_company_month": {
            "type": "integer",
            "example": 8
          },
          "tenure_at_company_year": {
            "type": "integer",
            "example": 1
          },
          "tenure_at_position": {
            "type": "integer",
            "example": 8
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "string",
            "example": "invalid_request_linkedin_id"
          },
          "message": {
            "type": "string",
            "example": "Wrong input"
          }
        }
      }
    }
  }
}